<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>URJC - EDA</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>
    <script>
        function DisplayProgressMessage(ctl, msg) {
            if (document.getElementById("inputFile").files.length == 0 || document.getElementById("inputFile").value == null){
                document.getElementById("inputFile").focus();
                return false;
            } else {
                //alert("Espera mientras se autocorrige tu práctica...");
                $(ctl).text(msg);
                return true;
            }
        }
    </script>

    <!--NAVBAR-->
    <nav class="navbar navbar-static-top navbar-inverse navbar-expand-lg">
        <a class="navbar-brand" href="https://www.aulavirtual.urjc.es/">
            <img src="/SVG/logoURJC.svg" alt="logo">
        </a>
        {{#professor}}
        <div class="text-right">
            <a role="button" href="/log-out" id="go-to-login" type="button" class="btn btn-danger navbar-btn navbar-right">Log Out</a>
        </div>
        {{/professor}}
        {{#student}}
        <div class="text-right">
            <a role="button" href="/login" id="go-to-login" type="button" class="btn btn-danger navbar-btn navbar-right">Acceso profesores</a>
        </div>
        {{/student}}
    </nav>

    <!--BREADCRUMB-->
    <ol class="breadcrumb breadcrumb-arrow">
        <div class="row">
            <div class="col-xs-8 text-left">
                {{#breadcrumb-list}}
                <li><a href="{{href}}">{{tag}}</a></li>
                {{/breadcrumb-list}}
                <li class="active"><span>{{breadcrumb-active}}</span></li>
            </div>
            {{#new-project-btn}}
            <div class="pull-right">
                <div class="container-fluid">
                    <a href="/nueva-practica" id="new-project-btn" class="btn btn-default btn-sm" role="button">Nueva Práctica</a>
                </div>
            </div>
            {{/new-project-btn}}
        </div>
    </ol>

    <!--PROJECTS OVERVIEW-->
    {{#main}}
    <div class="container">
        <div class = "row">
            {{#projects}}
            <div class = "col-sm-4">
                <div class="panel panel-default border-bottom">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{name}}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{description}}</p>
                        <div class="row">
                            {{#professor}}
                            <div class="col-xs-6 text-left">
                                <a class="btn btn-danger" href="/delete-project/{{id}}" role="button">Borrar</a>
                            </div>
                            {{/professor}}
                            <div class="col-sx-6 text-right">
                                <div class="container-fluid">
                                    <a href="/practica/{{id}}" class="btn btn-default" role="button">Corregir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/projects}}
        </div>
    </div>
    {{/main}}

    <!--LOGIN-->
    {{#login}}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel border-bottom">
                    <div class="panel heading">
                        <h3>Iniciar Sesión</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/signing-in" method="post">
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control" name="user" placeholder="Usuario" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                                       placeholder="Contraseña" required>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <a class="btn btn-danger" href="/" role="button">Volver</a>
                                </div>
                                <div class="col-sx-6 text-right">
                                    <div class="container-fluid">
                                        <button class="btn btn-default" type="submit">Sign In</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/login}}

    <!--PROJECT-->
    {{#project}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel border-bottom">
                    <div class="panel heading">
                        <h2>{{name}}</h2>
                        <h4>{{description}}</h4>
                    </div>
                    <div class="panel-body">
                        {{#professor}}
                        <form action="/rate-all-projects/{{id}}" method="post">
                            <div class="form-group">
                                <p>Corregir un conjunto de projectos</p>
                                <br>
                                <label>Selecciona directorio de proyectos</label>
                                <input type="file" name="file" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-default">Corregir todos</button>
                        </form>
                        {{/professor}}
                        {{#student}}
                        <form name="fileForm" action="/rate-project/{{id}}" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <p>Esta corrección se realizará de forma anónima y no será efectiva de cara a la correción oficial.
                                La entrega de la práctica deberá realizarse a través del Aula Virtual.
                                Cualquier librería no usada en clase puede provocar fallos de compilación.</p>
                                <br>

                                <label>Selecciona directorio raiz del proyecto</label>
                                <input id="inputFile" type="file" name="file" required>
                                <p class="help-block">Formato zip</p>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-default text-right" name="btnCorregir"
                                    onclick="return DisplayProgressMessage(this, 'Corrigiendo...')"> Corregir </button>
                        </form>
                        {{/student}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/project}}

    <!--NEW PROJECT-->
    {{#new-project}}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel border-bottom">
                    {{#professor}}
                    <div class="panel heading">
                        <h3>Nueva Práctica</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/crear-practica" method="post">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="name" placeholder="Nombre" required>
                            </div>
                            <div class="form-group">
                                <label>Descripción</label>
                                <input type="text" class="form-control" name="description" placeholder="Descripción">
                            </div>
                            <div class="form-group">
                                <label>Seleccione projecto de referencia</label>
                                <input type="file" name="file" required>
                                <p class="help-block">Formato zip</p>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-8 text-right">
                                    <div class="container-fluid">
                                        <button type="submit" class="btn btn-default text-right">Subir</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{/professor}}
                    {{#student}}
                    <div class="panel-heading">
                        <h3>Volver al inicio</h3>
                        <a href="/" class="btn btn-default" role="button">Volver</a>
                    </div>
                    {{/student}}
                </div>
            </div>
        </div>
    </div>
    {{/new-project}}

    {{#loading}}
        <p> compilando y ejecutando tests</p>
        <p> esto puede tardar unos segundos </p>

    {{/loading}}
    <!--FOOTER-->
    <footer class="footer fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/AlexQueso"> github.com/AlexQueso</a>
        </div>
    </footer>

    <script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>