<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>URJC - EDA</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-static-top navbar-inverse navbar-expand-lg">
        <a class="navbar-brand" href="https://urjc.es">
            <img src="/SVG/logoURJC.svg" alt="logo">
        </a>
        {{#professor}}
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <span id="go-to-login" class="label label-danger navbar-right">Modo Profesor</span>
            </div>
        </div>

        {{/professor}}
        {{#student}}
        <div class="collapse navbar-collapse">
            <button id="go-to-login" type="button" class="btn btn-danger navbar-btn navbar-right">Acceso profesores</button>
        </div>
        {{/student}}
    </nav>

    <!--BREADCRUMB-->
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Practica 1</a></li>
        <li class="active"><span>Informe</span></li>
    </ol>


    <!--CONTENT-->
    <div class="container">

    </div>

    <!--FOOTER-->
    <footer class="footer fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/AlexQueso"> github.com/AlexQueso</a>
        </div>
    </footer>

    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>