<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>URJC - EDA</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-static-top navbar-inverse navbar-expand-lg">
        <a class="navbar-brand" href="https://urjc.es">
            <img src="/SVG/logoURJC.svg" alt="logo">
        </a>
        {{#professor}}
        <div class="collapse navbar-collapse">
            <a role="button" href="/log-out" id="go-to-login" type="button" class="btn btn-danger navbar-btn navbar-right">Log Out</a>
        </div>
        {{/professor}}
        {{#student}}
        <div class="collapse navbar-collapse">
            <a role="button" href="/login" id="go-to-login" type="button" class="btn btn-danger navbar-btn navbar-right">Acceso profesores</a>
        </div>
        {{/student}}
    </nav>

    <!--BREADCRUMB-->
    <ol class="breadcrumb breadcrumb-arrow">
        {{#breadcrumb-list}}
        <li><a href="{{href}}">{{tag}}</a></li>
        {{/breadcrumb-list}}
        {{#breadcrumb-active}}
        <li class="active"><span>{{tag}}</span></li>
        {{/breadcrumb-active}}
    </ol>

    <!--PROJECTS OVERVIEW-->
    {{#main}}
    <div class="container">
        <div class = "row">
            {{#projects}}
            <div class = "col-sm-4">
                <div class="panel panel-default border-bottom">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{name}}</h3>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, fugiat nulla pariatu</p>
                        <a href="/" class="btn btn-default" role="button">Corregir</a>
                    </div>
                </div>
            </div>
            {{/projects}}
        </div>
    </div>
    {{/main}}

    <!--LOGIN-->
    {{#login}}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel border-bottom">
                    <div class="panel heading">
                        <h3>Iniciar Sesión</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Usuario</label>
                                <input type="text" class="form-control"  placeholder="Usuario">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                            </div>

                            <div class="row">
                                <div class="col-xs-8 text-left">
                                    <a class="btn btn-danger" href="/" role="button">Volver</a>
                                </div>
                                <div class="col-sx-4 text-right">
                                    <div class="container-fluid">
                                        <a class="btn btn-default" href="/signing-in" role="button">Sing In</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/login}}

    <!--PROJECT-->
    {{#project}}
    <div class="container">

    </div>
    {{/project}}

    <!--FOOTER-->
    <footer class="footer fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/AlexQueso"> github.com/AlexQueso</a>
        </div>
    </footer>

    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>