<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>URJC - EDA</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-static-top navbar-inverse navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <img src="/SVG/logoURJC.svg" alt="logo">
        </a>
        {{#professor}}
        <div class="text-right">
            <a role="button" href="/log-out" id="go-to-login" type="button" class="btn btn-danger navbar-btn navbar-right">Log Out</a>
        </div>
        {{/professor}}
        {{#student}}
        <div class="text-right">
            <a role="button" href="/login" id="go-to-login" type="button" class="btn btn-danger navbar-btn navbar-right">Acceso profesores</a>
        </div>
        {{/student}}
    </nav>

    <!--BREADCRUMB-->
    <ol class="breadcrumb breadcrumb-arrow">
        <div class="row">
            <div class="col-xs-8 text-left">
                {{#breadcrumb-list}}
                <li><a href="{{href}}">{{tag}}</a></li>
                {{/breadcrumb-list}}
                <li class="active"><span>{{breadcrumb-active}}</span></li>
            </div>
        </div>
    </ol>

    <!--INDIVIDUAL REPORT-->
    {{#individual-report}}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-left">
                <h3>{{project-name}}&nbsp;&nbsp;<small>{{date}}</small></h3>
                <br>
            </div>
            <div class="col-sx-6 text-right">
                <div class="container-fluid">
                    <a role="button" href="/practica/{{id-project}}" class="btn btn-danger" type="button">Volver</a>
                </div>
            </div>
        </div>


        <!-- BUILD -->
        <div class="panel panel-{{build-success}}">
            <div class="panel-heading">Compilación</div>
            <div class="panel-body">{{build}}</div>
        </div>
        <hr>
        <p>Tests</p>
        {{#tests}}
        <div class="panel panel-{{success}}">
            <div class="panel-heading">{{testSuite}}</div>
            <div class="panel-body">
                Correctos: {{correct}}/{{total}}<br>
                {{#testCases}}
                <strong>{{testName}}&nbsp;&nbsp;&nbsp;{{cause}}</strong>
                <pre>{{trace}}</pre>
                {{/testCases}}
            </div>
        </div>
        {{/tests}}
    </div>
    {{/individual-report}}

    <!--GLOBAL REPORT-->
    {{#global-report}}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-left">
                <h3>{{project-name}}&nbsp;&nbsp;<small>{{date}}</small></h3>
                <br>
            </div>
            <div class="col-sx-6 text-right">
                <div class="container-fluid">
                    <a role="button" href="/download-jplag/{{id-project}}" class="btn btn-danger" type="button">JPlag</a>
                </div>
            </div>
        </div>

        {{#reports}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        {{studentName}}
                    </div>
                    <div class="col-sx-6 text-right">
                        <div class="container-fluid">
                            <a role="button" href="/individual-report/{{id-project}}/{{studentName}}" class="btn btn-danger" type="button">Informe Individual</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-{{buildSuccess}}">
                    <div class="panel-heading"><strong>Compilacion:</strong>&nbsp;&nbsp;{{build}}</div>
                </div>
                {{#tests}}
                <div class="panel panel-{{success}}">
                    <div class="panel-heading"><strong>{{testSuite}}:</strong>&nbsp;&nbsp;{{correct}}/{{total}}</div>
                </div>
                {{/tests}}
            </div>
        </div>
        {{/reports}}
    </div>
    {{/global-report}}

    <script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>